.metals/*
ca2023-lab3/.vscode/*
ca2023-lab3/.metals/*
ca2023-lab3/.bloop/*
ca2023-lab3/test_run_dir/*
ca2023-lab3/verilog/*
ca2023-lab3/project/*
ca2023-lab3/target/*
ca2023-lab3/.bsp/*
ca2023-lab3/src/test/scala/riscv/singlecycle/target/*
ca2023-lab3/csrc/*.asmbin
ca2023-lab3/csrc/*.o
project/*
target/*
